.inner-head {
    margin: 0;
    padding: 0;
    font-size: 12px;
    /* width: 100vw;
  height: 100vh; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}

.header{
    background-color: black;
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
    box-sizing: border-box;
    ul{
        display: flex;
        height: 60px;
        flex-direction: row;
        list-style: none;
        gap:25px;
        padding: 0;
        margin:0;
        li{
            height: 100%;
            color: white;
            display: flex;
            align-items: center;
            a{
                height: 20px;
                display: flex;
                align-items: center;
                color:white;
                text-decoration: none;
                h2{
                    display: flex;
                    align-items: center;
                    font-size: 1.8em;
                    margin-left: 30px;
                    margin-top:0;
                    margin-bottom: 0;
                }
                img{
                    width: 55px;
                }
            }
        }
    }
    .left{
        justify-content: flex-start;
    }
    .right{
        justify-content: flex-end;
        .find{
            display: flex;
            align-items: center;
            background-color: white;
            height: 25px;
            object-fit: cover;
            border-radius: 5px;
            overflow: hidden;

            img{
                height: 25px;
                width: 25px;
                display: flex;
                justify-content: flex-end;
            }
        }
        .icon{
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
    }
    input{
        height: 22px;
        width: 15vw;
        outline: none;
        border: none;
        margin-left: 10px;
    }
    #avatar{
        width: 30px;
        height: 30px;
        border-radius: 100%;
    }
}


.inner-avatar {
    padding: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}





/*  */
.section-1 .row {
    padding: 50px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-1 .inner-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-1 .inner-name {
    font-weight: bold;
    font-size: 20px;
}

.section-1 .inner-user {
    font-size: 14px;
}

.section-1 .inner-report {
    font-weight: bold;
}

.section-1 .inner-btn button {
    padding: 0 15px;
}

/*  */

/*  */
.section-2 .row {
    border-top: 1px solid rgba(102, 101, 101, 0.438);
    border-bottom: 1px solid rgba(102, 101, 101, 0.438);
    padding: 10px 0;
}

.section-2 .row>* {

    padding: 10px;
}


.section-2 .row>*:hover {
    background: #d7d7d7;
}


/*  */

/*  */
.section-3 .inner-box {
    height: 25%;
    width: 100%;
    border-bottom: 1px solid rgba(102, 101, 101, 0.438);
}


.section-3 .inner-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: ; */
}

.section-3 .inner-table {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.section-3 .inner-btn {
    padding: 30px;
    background: #D9D9D980;
    border-radius: 5px;
}



/*  */